@media only screen and (min-width:1200px){
  #NavBarContainer{
    height: 250px;
    width: 100%;
  }

  #PerfectBrideLogo{
    background-image:url("../../images/perfectBrideLogo.jpg");
    height: 70%;
    width: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: calc((100% - 500px) / 2 );
  }

  #NavbarLinksContainer{
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 25%;

  }

  .NavLink{
    color: #c68803;
    font-family: Arial;
    font-size: 15px;
  }

  .link{
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}


@media only screen and (min-width: 992px) and (max-width:1199.99px){
  #NavBarContainer{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
  }
  
  #PerfectBrideHeadingContainer{
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #PerfectBrideHeading{
    font-size: 40px;
    display: inline-block;
    border: 2px solid red;
    width: 100%;
    font-family: Arial;
  }
  
  #HamburgerMenu{
    border: 2px solid black;
    height: 100%;
    width: 150px;
    margin-left: calc(100% - 250px - 150px);
  }


  #NavbarLinksContainer{
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 25%;

  }

  .NavLink{
    color: #c68803;
    font-family: Arial;
    font-size: 15px;
  }

  .link{
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}